<h2>Arquivo</h2>

<table class='archive table table-striped table-hover'>
  <tr>
    <th>Título</th>
    <th>Data</th>
    <th>Duração</th>
    <th colspan='2'>Download</th>
  </tr>
<% sorted_articles.each do |episode| %>
  <tr>
    <td>
      <%= link_to(episode[:title], episode) %>
    </td>
    <td>
      <em><%= link_to(date(episode), episode) %></em>
    </td>
    <td>
      <%= audio(episode, audio_formats.first).duration %>
    </td>
    <% audio_formats.each_with_index do |format, i| %>
      <% f = audio(episode, format) %>
      <td>
	<a href="<%= f.url %>" download="<%= f.download %>"><span class='fa fa-file-audio-o'></span> <%= format %></a>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
