code {
  color: #fff;
  background-color: #4d3f43;
  border-radius: 2px;
}


.navbar-inverse {
  background-image: linear-gradient(#EEE, #AAA);
  text-shadow: none;
}

.navbar > .container .navbar-brand {
  background-image: url(/images/papolivre.png);
  background-size: 50px 50px;
  background-position: 10px 50%;
  background-repeat: no-repeat;
  padding-left: 65px;
  color: #333;
  font-variant: small-caps;
  font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a {
  border-left: 1px solid rgba(255,255,255,0.4);
  color: #444;
}


#content {
  padding-top: 20px;
  min-height: 470px;
}

.episode-grid .episode {
  margin-bottom: 5em;
  height: 340px;
}

.episode-grid h2 {
  font-size: 20px;
}

.episode-grid img {
  max-width: 100%;
}

.episode-grid img, .player img {
  border: 2px solid white;
}

.player {
  max-width: 720px;
}
.player img {
  display: block;
  width: 100%;
}
.player audio {
  width: 100%;
}

.archive a {
  display: block;
}

.navbar {
  margin-bottom: 0px;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
}

footer {
  margin-top: 40px;
  padding: 20px 0px;
  border-top: 1px solid #404040;
}
