<div class='episode-header'>
  <% if @episode == @item %>
    <h1><%= @episode[:title] %></h1>
  <% else %>
    <h2><%= link_to(@episode[:title], @episode) %></h2>
  <% end %>
  <p>
  Publicado em <%= date(@episode) %>. Duração: <%= audio(@episode, audio_formats.first).duration %>
  </p>
</div>
<div class='episode-header'>
  <div class='player'>
    <img src="<%= cover_path(episode, :large)%>"/>
    <audio controls preload="none">
      <% audio_formats.each do |fmt| %>
        <source src="<%= audio(@episode, fmt).url %>" type="audio/<%= fmt %>"/>
      <% end %>
      Parece que o seu navegado não tem suporte a áudio HTML5. Tente fazer o
      download do episódio.
    </audio>
  </div>

  <p>
  Download:
  <% audio_formats.each_with_index do |format, i| %>
    <%= ',' if i > 0 %>
    <% f = audio(@episode, format) %>
    <a href="<%= f.url %>" download="<%= f.download %>"><span class='fa fa-file-audio-o'></span> <%= format %> (<%= f.size %> MB)</a>
  <% end %>
  </p>

</div>
