<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:cc="http://web.resource.org/cc/"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
  xmlns:media="http://search.yahoo.com/mrss/"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0"
  xmlns:spotify="https://www.spotify.com/ns/rss"
  >
  <channel>
    <atom:link href="<%= url_for(@item) %>" rel="self" type="application/rss+xml"/>
    <title><%= @config[:title] %></title>
    <pubDate><%= rfc2822(sorted_articles.last) %></pubDate>
    <lastBuildDate><%= rfc2822(sorted_articles.last) %></lastBuildDate>
    <generator>Nanoc <%= Nanoc::VERSION %></generator>
    <link><%= @config[:base_url] %></link>
    <language>pt-br</language>
    <copyright><![CDATA[<%= @config[:copyright] %>]]></copyright>
    <docs><%= @config[:base_url] %></docs>
    <managingEditor><%= @config[:contact_email] %></managingEditor>
    <% if @config[:logo_url] %>
      <image>
        <url><%= @config[:logo_url] %></url>
        <title><%= @config[:title] %></title>
        <link><![CDATA[<%= @config[:base_url] %>]]></link>
      </image>
    <% end %>
    <itunes:owner>
      <itunes:name><%= config[:title] %></itunes:name>
      <itunes:email><%= config[:contact_email] %></itunes:email>
    </itunes:owner>
    <itunes:author><%= config[:title] %></itunes:author>
    <googleplay:author><%= config[:title] %></googleplay:author>
    <spotify:author><%= config[:title] %></spotify:author>
    <description><![CDATA[<%= @config[:description] %>]]></description>
    <% sorted_articles.each do |episode| %>
    <item>
      <title><%= episode[:title] %></title>
      <pubDate><%= rfc2822(episode) %></pubDate>
      <guid isPermaLink="false"><![CDATA[<%= atom_tag_for(episode)%>]]></guid>
      <link><%= url_for(episode) %></link>
      <description>
        <![CDATA[
        <%= episode.compiled_content %>
        <p>Links do episódio: <a href="<%= url_for(episode) %>">ver post no site</a>.</p>
        <p>Redes sociais/contato: <%= @config[:social] %>
        </p>
        ]]>
      </description>
      <% if @format %><enclosure length="<%= audio(episode, @format).length %>" type="<%= @mime_type %>" url="<%= @config[:base_url] %><%= audio(episode, @format).url %>" /><% end %>
    </item>
    <% end %>
  </channel>
</rss>

